@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100vh;
    font-family: arial;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: #F9FAFB;
}

#side-image {
    background-image: url('./tree-leaves.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    color: white;
    box-sizing: border-box;
    height: 100%;
    flex: 0 0 30%;
}

#side-image p {
    text-align: center;
    position: sticky;
    width: 100%;
    left: 0%;
    top: 100%;
    font-size: 14px;
}

#side-image a,
#side-image a:visited {
    color: white;
}

#side-image > div {
    position: relative;
    width: 100%;
    left: 0;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'norsebold';
    font-size: 64px;
    padding: 0;
}

#right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    flex: 0 0 70%;
    padding: 0;
    margin: 0;
}

#right-part > :not(form), input[type="submit"], .form-section > * {
    margin: 0 50px;
}

.form-section {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-section h3 {
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 15px;
    width: 200px;
    color: white;
    background-color: #596D48;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}

#right-part > p {
    margin-top: 30px;
}

#right-part > p > a, #right-part > p > a:visited {
    color: #596D48;
    text-decoration: none;
}

.fields {
    display: flex;
    box-sizing: border-box;
    width: 700px;
    gap: 20px 100px;
    flex-wrap: wrap;
}

.field label {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.field input {
    background-color: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    width: 280px;
}

.field input:focus {
    outline: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.field input:invalid {
    outline: 1px solid red;
}